body {
	margin: 0;
	font-family: 'Sniglet', cursive;
}

header {
	box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #3D9A00;
    color: #3D9A00;
}

.dashboard-body header {
    background-color: white;
    position: fixed;
}

fieldset, button {
	border: none;
}

legend {
	font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

label {
	font-size: 22px;
}

h1,h2,h3,h4,h5,p {
	margin: 0;
}

textarea {
  resize: none;
  width: 100%;
}

hr {
    border: 0;
    color: #3D9A00;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

a:visited {
  color: #3D9A00;
}

.logo {
	margin: 0;
	float: left;
}

.logo:before {
	background-image: url("../pic/baby-steps.png");
	background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
}

.login-body {
	background-image: url("../pic/guillaume-de-germain-303020-unsplash.jpg");
	/*Photo by Guillaume de Germain on Unsplash*/
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.dashboard-body {
	color: #3D9A00;
}

.container {
	max-width: 800px;
    margin: auto;
    padding-top: 50px;
    background-color: #FFAF56;
    min-height: 100vh;
    box-shadow: 0px 0px 10px 3px #080C5D;
}

.login-register {
	margin: auto;
    width: 300px;
    margin-top: 110px;
    text-align: center;
}



.loginButton {
	width: 200px;
    height: 40px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    box-sizing: border-box;
    padding: 3px;
    cursor: pointer;	
    background-color: #080c5d80;
}

.toggleReg {
	margin: 0;
    text-align: center;
    color: red;
    font-size: 13px;
}

.box-structure {
	border: 2px solid #3D9A00;
    border-radius: 15px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #dec28163;
}

.addbaby {
    border: 2px solid;
    margin: auto;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 6px;
    padding-top: 31px;
    text-align: center;
    cursor: pointer;
    box-shadow: -2px -1px 0px 0px;
    transition: all .5s;
    -webkit-transition: all .5s; /* Safari */
}

.addboxdashboard{
    text-align: center;
    margin-bottom: 25px;
}

.selectbaby {
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    margin: auto;
    margin-top: 12px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    box-shadow: -2px -1px 0px 0px;
    transition: all .5s;
    -webkit-transition: all .5s; /* Safari */
}

.addbaby:hover, .selectbaby:hover, .snapBaby:hover {     
    background-color: #eab2fb; 
}

#opennav:hover, #about:hover, #signout:hover {
    color: #FFAF56; 
}



.snapBaby:active, .addbaby:active, .selectbaby:active {
    box-shadow: inset -2px -1px 0px 0px;
}

.input-sizing {
	width: 80%;
    height: 22px;
    margin-bottom: 10px;
}

.title-stage {
	border-bottom: 4px solid;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.snapBaby {
    box-sizing: border-box;
	min-height: 200px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: -2px -1px 0px 0px;
    transition: all .5s;
    -webkit-transition: all .5s; /* Safari */
}

.snapName {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.snapAt {
    width: 50px;
    margin: auto;
    border: 1px solid;
    border-radius: 50%;
}

.snapAge {
    margin-top: 10px;
	width: 120px;
    float: left;
}

.currentage {
    font-size: 30px;
}

.snapMilestone {
    margin-top: 10px;
}

.stonedate {
    display: inline-block;
}

.stonetitle {
    display: inline-block;
    margin-left: 20px;
}

.milestonelist {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.fullstone {
    margin-bottom: 10px;
}

.stonecontainer::before {
    font-family: 'Font Awesome 5 Free';
    content: "\f005";
    float: left;
    margin-right: 10px;
}

.stonecontainer {
    margin-bottom: 5px;
}

.stonecontainer:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.milestonedate {
    float: left;
    margin-left: 2px;
    font-weight: 900;
}

.milestonetitle {
    float: left;
    font-weight: 900;
    margin-left: 10px;
}

.milebtn {
    float: right;
}

.milebtn .btn {
    margin: 0px;
}

.milehidden {
    margin-left: 20px;
    color: #080C5D;
    background-color: white;
    box-shadow: 0px 0px 2px 1px;
    padding: 5px;
    box-sizing: border-box;
}

.hidden {
    overflow: hidden;
    height: 0;
    padding: 0;
    box-shadow: none;
}

.baby-info {
    text-align: center;
    margin-bottom: 70px;
}

.babyicon {
    width: 50px;
    display: inline;
}

.bfirstname {
    display: inline;
    font-size: 60px;
}

.loginError {
    color: red;
    font-weight: 900;
    text-shadow: -1px 1px 5px white;
}
/*buttons*/
.btn {
    border: none;
    min-height: 25px;
    border-radius: 15%;
    outline: none;
    cursor: pointer;
    margin: 10px;
}

.posbtn {
  background-color: #4acf4a;
  font-size: 16px;
}

.negbtn {
  background-color: red;
  font-size: 16px;
}

.nutrbtn {
  background-color: #f2db73;
  font-size: 16px;
}

.closebtn {
    cursor: pointer;
}

.addmilestonebtn {
    text-align: center;
    font-size: 30px;
    border: 2px solid #3D9A00;
    border-radius: 20px;
    height: 57px;
    width: 300px;
    margin: auto;
    padding: 7px;
    cursor: pointer;
    box-shadow: -1px -1px 1px 0px #080C5D;
}

.addmilestonebtn:active {

    box-shadow: inset -1px -1px 1px 0px #080C5D;
}

/*modal css*/
.modal{
    display: none;
    box-sizing: border-box;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
    overflow-y: scroll;
    max-height: 90vh;
}

/*this is for the responsive nav bar*/


.navbutton {
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .navbar {
        position: fixed;
        text-align: right;
        background-color: black;
        color: white;
        width: 0;
        height: 100%;
        overflow-x: hidden;
        right: 0;
        top: 0;
        transition: all .5s;
        -webkit-transition: all .5s; /* Safari */

    }

    .navwidth {
        width: 200px;
    }

    .navbar > div {
        display: block;
        margin-bottom: 10px;
    }

    #opennav {
        float: right;
        font-size: 30px;
        cursor: pointer;
    }

    #closenav {
        cursor: pointer;
        text-align: left;
        margin-top: 5px;
        margin-left: 10px;
        font-size: 35px
    }
}
@media screen and (min-width: 900px){
    #closenav, #opennav {
        display: none;
    }

    .navbar {
        height: 100%;
        float: right;
    }

    .navbutton {
        display: inline-block;
    }
}